{% extends "AppCommonLayoutBundle:LayoutDefault:index.html.twig" %}

{% block content %}

<div class="jumbotron">
	<h1>Notes app!</h1>
	<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	<p><a class="btn btn-lg btn-success" href="{{ url('app_module_notebook.ui.notebook.list') }}" role="button">Try it now!</a></p>
</div>

{% endblock %}
