/*.table thead th .asc::after {
	content: " <span class='glyphicon glyphicon-chevron-up'></span>"
}
.table thead th .desc::after {
	content: " <span class='glyphicon glyphicon-chevron-down'></span>"
}*/

.form-signin {
	width: 330px;
	margin: auto;
	
	background-color: #eee;
	
	position: absolute;
	top: 0;
	bottom: 0;	
	left: 0;	
	right: 0;	
}

.form-signin > .inner {
	padding: 15px;
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input#username {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input#password {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
