{% extends "AppCommonLayoutBundle:LayoutDefault:index.html.twig" %}

{% block content %}

<div class="tableActions">
	<a href="" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Create notebook</a>
</div>

<table class="table">
	<thead>
		<tr>
			<th>{{ knp_pagination_sortable(itemsPagination, 'Notebook', 'item.name') }}</th>
			<th>Actions</th>
		</th>
	</thead>
	<tbody>
{% for item in items %}
		<tr>
			<td>
				<a href="">
				{{ item.name }}
				</a>
			</td>
			<td>
				<a href=""><span class="glyphicon glyphicon-list-alt"></span></a>
				<a href=""><span class="glyphicon glyphicon-pencil"></span></a>
				
				<a href="{{ url('app_module_notebook.ui.notebook.delete', { slug: item.slug }) }}"><span class="glyphicon glyphicon-trash"></span></a>
			</td>
		</tr>
{% else %}
		<tr>
			<td colspan="2">
				There is no notebooks. <a href="" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Create first one!</a>
			</td>
		</tr>
{% endfor %}
	</tbody>
</table>

<div class="navigation">
	{{ knp_pagination_render(itemsPagination) }}
</div>

{% endblock %}
