{% extends "AppCommonLayoutBundle:LayoutDefault:index.html.twig" %}

{% block content %}

<div class="tableActions">
	<a href="" class="btn btn-success">Create notebook</a>
</div>

<table class="table">
	<thead>
		<tr>
			<th>{{ knp_pagination_sortable(itemsPagination, 'Notebook', 'item.name') }}</th>
		</th>
	</thead>
	<tbody>
{% for item in items %}
		<tr>
			<td>{{ item.name }}</td>
		</tr>
{% else %}
		<tr>
			<td colspan="1">
				There is no notebooks. <a href="" class="btn btn-success">Create first one!</a>
			</td>
		</tr>
{% endfor %}
	</tbody>
</table>

<div class="navigation">
	{{ knp_pagination_render(itemsPagination) }}
</div>

{% endblock %}
